        <div fxLayout="column" class="main-container">
        <!-- define the material card -->
        <div fxLayout="row" class="tasks-container"  style="padding-top: 3rem;">

        <mat-card fxFlex>
            <!--Image for 404 page-->

                <mat-card-content>
                        <section class="mat-typography" style="text-align: center;">
                          <a routerLink='/'>
                            <img
                            src="../../../assets/img/404page.png"
                            alt="Thip-404"
                            />
                        </a>
                        <h1>Awww... Don't Cry!</h1>
                        <h1>It's just a 404 Error! Page Not Found</h1>
                        <br>
                        <br>
                        <h2>What you're looking for may have been misplaced in Long Term Memory.
                        <br>
                        </h2>
                        <h3>Clicking on the image takes you back home.</h3>
                        </section>
                        <div fxLayout="row" class="image-cards">
                        </div>
                </mat-card-content>
              </mat-card>
        </div>
        </div>
