<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      Let's kick some task nodebucket
      <br />
      <br />
      Drag the ToDo task into the Done task:
    </h1>

    <div fxLayout="row" fxLayoutGap="15px" class="tasks-container">
      <div fxFlex>
        <mat-card>
          <mat-card-title class="task-title">
            ToDo
            <div fxFlex></div>
            <button [matMenuTriggerFor]="taskMenu" mat-button xposition="before">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #taskMenu="matMenu" x-position="before">
              <button mat-menu-item (click)="openCreateTaskDialog()">Create task</button>
            </mat-menu>

          </mat-card-title>
          <hr>

          <mat-card-content>
              <mat-list
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)" mat-list>
              <mat-list-item *ngFor="let item of todo" cdkDrag>{{item.text}}
                  <div fxFlex></div>
                  <button [matMenuTriggerFor]="doneOptionsMenu" mat-icon-button class="ml-xs">
                      <mat-icon  class="icon">more_horiz</mat-icon>
                    </button>
                    <mat-menu #doneOptionsMenu="matMenu" x-position="before">
                      <button (click)="deleteTask(item._id)" mat-menu-item>
                        Remove
                      </button>
                    </mat-menu>

                    <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex>
        <mat-card>
            <mat-card-title class="task-title">
              Done
            </mat-card-title>
            <hr>

            <mat-card-content>
                <mat-list
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                (cdkDropListDropped)="drop($event)">
                <mat-list-item *ngFor="let item of done" cdkDrag>{{item.text}}
                    <div fxFlex></div>
                    <button [matMenuTriggerFor]="doneOptionsMenu" mat-icon-button class="ml-xs">
                        <mat-icon  class="icon">more_horiz</mat-icon>
                      </button>
                      <mat-menu #doneOptionsMenu="matMenu" x-position="before">
                        <button (click)="deleteTask(item._id)" mat-menu-item>
                          Delete
                        </button>
                      </mat-menu>
                      <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
            </mat-card-content>
          </mat-card>
      </div>

    </div>

  </div>
