<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <!--logo-->
      <img src="/assets/img/nodebucket.png" width="150px" height="80px">
      <div class="navbar-container">
        <button class="navbar-link" routerLink="/" mat-button>Kicking Nodebucket</button>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button routerLink="/about">About</button>
      </div>
      <div fxFlex></div>
      <button class="navbar-link"mat-button>Welcome!</button>
      <button class="navbar-link"  mat-button (click)='logout()'>Logout</button>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - 201 LAB
        </p>
        <div fxFlex></div>
        <img
        src="../../../assets/img/201-lab-logo.png"
        alt="201 Lab"
        style="width: 100px; height: 50%"
        />
      </mat-toolbar>
    </footer>
  </div>

</div>
