<h2 mat-dialog-title>Add new task</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="text" />
    </mat-form-field>
</mat-dialog-content>

<div fxLayout="column" fxLayoutGap="5px">
    <small *ngIf="form.controls['text'].hasError('minLength') && form.controls['text'].touched">The name must be at least 3 characters long</small>
</div>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button [disabled]="!form.valid" (click)="submit()">Save</button>
</mat-dialog-actions>
